body {
    font-family: 'Times New Roman', Times, serif;
}
#app h1 {
    color: #fff;
    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
}
#app nav {
    background-color: #03a9fc;
}
#app nav a {
    color: #fff;
    font-size: 15px;
}
#app nav a:hover {
    color: #3342fa;
}
#app nav label {
    color: #fff;
    font-size: 15px;
}
.nav-icon {
    color: #fff;
    font-size: 24px;
}
.card-header h3 {
    color: #03a9fc;
}
footer {
    background-color: #58c5fc;
    color: #fff;
}
table thead {
    background-color: #03a9fc;
}
table thead th {
    color: #fff;
    text-align: center;
}
table tr td {
    text-align: center;
}
.pagination a {
    background-color: #03a9fc;
}
.pagination a:hover {
    background-color: #09d6f3;
}
.profile-img {
    width: 150px;
    height: 150px;
}
.profile {
    border-radius: 100px;
}
.table-scroll {
    overflow-x: auto;
}
.toggle.round {
    border-radius: 50px;
}
